{% extends 'base.html' %}
{% block title %}Crear{% endblock title %}
{% block content %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Crear empleado</h1>
        <div class="cell">
            <form class="grid-x grid-margin-x" method="post" enctype="multipart/form-data">{% csrf_token %}                
                <div class="medium-6 cell">
                    <label>Nombres {{form.firts_name}}</label>
                </div>           
                <div class="medium-6 cell">
                    <label>Apellidos {{form.last_name}}</label>
                </div>
                <div class="medium-6 cell">
                    <label>Trabajo {{form.job}}</label>
                </div>
                <div class="medium-6 cell">
                    <label>Departamento {{form.departamento}}</label>
                </div>
                <div class="medium-6 cell">
                    <label>Habilidades {{form.habilidades}}</label>
                </div>
                <div class="medium-6 cell">
                    <label>Avatar {{form.avatar}}</label>
                </div>
                <div class="medium-12 cell">
                    <button type="submit" class="success button">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

