{% extends 'base.html' %}
{% block title %}Eliminar{% endblock title %}
{% block content %}
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Eliminar empleado: {{ object.firts_name}} {{ object.last_name}}</h1>
        <div class="cell">
            <form method="post">
                <div class="callout alert">
                    {% csrf_token %} {{form.as_p}}
                    <h5>Confirme que desea eliminar</h5>
                    <button type="submit" class="alert button">Borrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}