{% extends 'base.html' %}
{% load static %}
{% block title %}{{empleado.last_name}}{% endblock title %}
{% block content %}
<div class="grid-container">
    <div class="grid-x grid-margin-x align-center callout">
        <h4 class="cell  large-12 ">Todos los datos de:</h4>
        <div class="card large-8" style="width: 300px;">
            <div class="card-divider">
                {{empleado.full_name}}
            </div>            
            {% if empleado.avatar %}
                <img src="{{empleado.avatar.url}}">
            {% else %}
                <img src="{% static 'img/1.jpg' %}">
            {% endif %}  
            <div class="card-section">
                <p>{{empleado.firts_name}}</p>
                <p>{{empleado.last_name}}</p>
                <p>{{empleado.get_job_display}}</p>
                <p>{{empleado.departamento.name}}</p>
                <p><span class="label">Habilidades:</span></p>
                <ul class="vertical menu">                    
                    {% for habilidad in empleado.habilidades.all %}
                        <li>{{ habilidad.habilidad }}</li>
                    {% endfor %}                        
                </ul>
            </div>
        </div>
    </div>
    {% endblock content %}